{% extends 'sports24h/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
{% block search_box %}{% endblock %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center">About Us</h1>
        <hr>
        <p>
          Welcome to Sports24h, your online store for buying and selling sports jerseys and products! Created in [year of creation], our mission is to provide the best shopping experience for sports enthusiasts across the country.
        </p>
              <h2>Our Products</h2>
    <p>
      We offer a wide range of high-quality sports jerseys and products, from official football club and national team jerseys to workout clothes and accessories. We work in partnership with leading brands in the industry, ensuring authenticity and quality in all our products.
    </p>

    <h2>Commitment to Customer Satisfaction</h2>
    <p>
      We believe that customer satisfaction is the key to our success. Therefore, we offer an easy-to-use shopping platform and exceptional customer service, ready to help with any questions or concerns that may arise. In addition, we ensure that all of our products are delivered quickly and securely, providing the best possible experience for our customers.
    </p>

    <h2>The Sports24h Team</h2>
    <p>
      Our team is made up of professionals who are passionate about sports and dedicated to providing the best shopping experience for our customers. We are always looking for new opportunities and ways to improve our platform, ensuring that you always find the best products and deals at Sports24h.
    </p>

    <h2>Contact Us</h2>
<p>
  If you have any questions, suggestions or feedback, please do not hesitate to contact us. Your opinion is very important to us and helps us continuously improve our services. You can contact us through our customer service email [email address] or through our social media channels. We are always ready to listen and help!
</p>

<p class="text-center">
  <strong>Thank you for visiting Sports24h!</strong>
</p>
  </div>
</div>
      </div>
{% endblock %}
</body>
</html>