{% extends "sports24h/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Access Denied</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sports24h/style.css' %}" />
</head>
<body>
{% block content %}
    <h1>Access Denied</h1>
    <p>You do not have permission to access this page.</p>

{% if error_message %}
    <p> {{ error_message }}</p>
{% endif %}

{% endblock %}
{% block options_and_controls %}
    <a href="{% url 'sports24h:index' %}">Go to Homepage</a>
{% endblock %}

</body>
</html>