{% extends "sports24h/create_product.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
	<title>Create Post</title>
	{% endblock %}
</head>
<body>
    {% block content %}
    <form id="post" class="post" action="{% url 'sports24h:create_post' %}" method="post">
        {% csrf_token %}
        <h2>Create new post</h2>
        <label>Title: </label>
        <input type="text" name="title" value="" >
        <label> Forum:</label>
        <select id="forums" name="forum">
            {% for forum in forum_list %}
            <option value="{{ forum.name }}">{{ forum.name }} - {{ forum.genre }}</option>
            {% endfor %}
        </select>
        <label> Description:</label>
        <input type="text" name="text" value="">
        <p></p>
    </form>
    {% endblock %}

</body>
</html>