{% extends "sports24h/create_product.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
	<title>Create Forum</title>
	{% endblock %}
</head>
<body>
    {% block content %}
    <form id="post" class="post" action="{% url 'sports24h:create_forum' %}" method="post">
        {% csrf_token %}
        <h2>Create new forum</h2>
        <label>Name: </label>
        <input type="text" name="forum_name" value="" >
        <label> Genre:</label>
        <input type="text" name="genre" value="">
        <p></p>
    </form>
    {% endblock %}

</body>
</html>