{% extends 'sports24h/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Forums</title>
    {% endblock %}
</head>
<body>
{% block content %}

<main>
    <section>
        {% if request.user.is_superuser %}
        <div class="create_forum">
            <a href="{% url 'sports24h:create_forum' %}">Create a new Forum</a>
        </div>
        {% endif %}
    </section>
    <section>
        <h2>Forums</h2>
        {% if message %}
    <p><strong>{{ message }}</strong></p>
        {% endif %}
        {% for forum in forums %}
        <div class="forum">
            <h3>{{ forum.name }}</h3>
            <h4>{{ forum.genre }}</h4>
            <form method="POST" action="{% url 'sports24h:follow_forum' %}">
                {% csrf_token %}
                <input type="hidden" name="forum_id" value="{{ forum.id }}">
                <div><button class="join_forum" type="submit">Join forum</button></div>

            </form>
        </div>
        {% endfor %}
        {% for forum in followed_forums %}
        <div class="forum">
            <h3>{{ forum.name }}</h3>
            <h4>{{ forum.genre }}</h4>
            <p><strong>Forum followed</strong></p>
            <form method="POST" action="{% url 'sports24h:unfollow_forum' %}">
                {% csrf_token %}
                <input type="hidden" name="forum_id" value="{{ forum.id }}">
                <div><button class="unfollow_forum" type="submit">Unfollow Forum</button></div>
            </form>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock %}
</body>
</html>