<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Online Clothing Shop</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sports24h/styles.css' %}"/>
<style>
        .dropdown-menu {
            display: none;
            position: absolute;
            top: 45px;
            right: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-menu a:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
	{% block header %}
	<header>
        <div class="top">
		    <h1>Sports24h</h1>
			{% block search_box %}
   		 <input type="text" placeholder="Search..">
			{% endblock %}

        <div class="user-info">
            <div class="dropdown">
				<a href="{% url 'sports24h:shopping_cart' %}">
  					<img class="shopping_cart" src="{% static 'media/shopping-cart.png' %}" alt="Shopping Cart">
				</a>
                <img src="{% static 'media/users/default-user-icon.png' %}" alt="Profile Photo" class="dropdown-trigger">
                <div class="dropdown-menu">
                    <a href="{% url 'sports24h:profile' %}">{{ request.user.username }}</a>
                    <form action="{% url 'sports24h:logout_user' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <script>
        // Get the dropdown and its children
        const dropdown = document.querySelector('.dropdown');
        const dropdownMenu = dropdown.querySelector('.dropdown-menu');
        const dropdownTrigger = dropdown.querySelector('.dropdown-trigger');

        // Show the dropdown menu when the user hovers over the trigger
        dropdownTrigger.addEventListener('mouseenter', () => {
            dropdownMenu.style.display = 'block';
        });

        // Hide the dropdown menu when the user moves the mouse away from the dropdown
        dropdown.addEventListener('mouseleave', () => {
            dropdownMenu.style.display = 'none';
        });

        </script>

    </div>
    <nav>
        <ul>
            <li><a href="{% url 'sports24h:index' %}">Home</a></li>
            <li><a href="{% url 'sports24h:forums_index' %}">Forums</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="{% url 'sports24h:about_index' %}">About</a></li>
            <li><a href="{% url 'sports24h:send_message_html' %}">Messages</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

	{% block content %}
	<main>
		<section>
			<div class="create_post">
				<a href="{% url 'sports24h:create_post' %}">Create new Post</a>
			</div>
			<div class="create_post">
				<a href="{% url 'sports24h:create_product' %}">Create new Product</a>
			</div>
		</section>
		<section>
			<h2>Latest Posts</h2>
			{% for post in post_list %}
			<a id="post" href="{% url 'sports24h:post_detail' post_id=post.id %}">
			<div class="post">
				<h3> {{ post.title }}</h3>
				<p>{{ post.text }}</p>
				<a href="#">Comment</a>
				<a href="{% url 'sports24h:like' post_id=post.id %}">
					{% if post in liked_posts %}
					Dislike    {{ post.likes_count }}
					{% else %}
					Like    {{ post.likes_count }}
					{% endif %}
				</a>
			</div>
			</a>
			{% endfor %}
			<!-- more user-generated posts -->
		</section>

		<section>
			<h2>Featured Products</h2>
			{% for product in product_list %}
			<a id="product" href="{% url 'sports24h:product_detail' product_id=product.id %}">
    			<div class="product">
        			<h3>{{ product.name }}</h3>
        			<img src="{{ product.photo.url }}">
        			<p>Size: {{ product.size.name }}</p>
        			<p>Forum: {{ product.forum.name }}</p>
        			<p>Price: {{ product.price }}</p>
					<a href="{% url 'sports24h:add_to_cart' product_id=product.id %}">Add to cart</a>
    			</div>
			</a>
			{% endfor %}
			<!-- more featured products -->
		</section>
	</main>
	{% endblock %}

	{% block options_and_controls %}
	{% endblock %}

	{% block error_messages %}
	{% endblock %}

	{% block footer %}
	<footer>
		<p>&copy; 2023 Online Clothing Shop</p>
	</footer>
	{% endblock %}
</body>
</html>