{% extends "sports24h/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
	<title>Login</title>
	{% endblock %}
</head>
<body>

    {% block content %}
    <form id="login" action="{% url 'sports24h:login_user' %}" method="post">
        {% csrf_token %}
        <h1>Introduza os seus dados para efetuar o login: </h1>
        <p></p>
        <label> Nome de utilizador:</label>
        <input type="text" name="username" value="" >
        <label> Password:</label>
        <input type="password" name="password" value="">
        <p></p>
    </form>
    <form id="registo" action="{% url 'sports24h:register_user' %}" >
        {% csrf_token %}
    </form>
    {% endblock %}
    {% block options_and_controls %}
    <input type="submit" value="Login" form="login"/>
    <p>Ainda não possui uma conta registada?</p>
    <input type="submit" value="Registar" form="registo">
    {% endblock %}
</body>
</html>