{% extends "sports24h/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Logout Utilizador</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sports24h/style.css' %}" />
</head>
<body>
    {% block content %}
    <h1>Tem a certeza de que pretende fazer o logout? </h1>
    <p></p>
    <form id="logout" action="{% url 'sports24h:logout_user' %}" method="post">
        {% csrf_token %}
    </form>
    {% endblock %}
    {% block options_and_controls %}
    <input type="submit" value="Yes" form="logout"/>
    {% endblock %}
</body>
</html>