{% extends "sports24h/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail {{ post.id }}</title>
</head>
<body>
{% block content %}
  <div class="post-detail">
    <h2>{{ post.title }}</h2>
    <p>Forum: {{ post.forum.name }}</p>
    <p>{{ post.text }}</p>
    <p>Created by: {{ post.owner.user.username }}</p>
  </div>
  <div class="add-comment">
    <button type="button" class="button-add-comment" onclick="toggleCommentForm()">Add Comment</button>
  </div>
  <form method="post" action="{% url 'sports24h:add_comment' %}">
    {% csrf_token %}
    <div class="comment-form" id="comment-form">
      <input type="text" name="comment_text" placeholder="Enter your comment">
      <input type="hidden" name="post_id" value="{{ post.id }}">
      <button type="submit">Add Comment</button>
    </div>
  </form>

<script>
  function toggleCommentForm() {
    document.getElementsByClassName("comment-form")[0].style.display = "block";
    document.getElementsByClassName("button-add-comment")[0].style.display = "none";
  }
</script>
<div class="comments">
    <h3>Comments</h3>
    {% if comments %}
      {% for comment in comments %}
        <div class="comment">
          <p>{{ comment.text }} - <span class="username">{{ comment.user }}</span> - created at - <span class="created-at">{{ comment.created_at }}</span></p>
        </div>
      {% endfor %}
    {% else %}
      <p><strong>No comments yet.</strong></p>
    {% endif %}
  </div>
{% endblock %}
</body>
</html>
