{% extends 'sports24h/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
<style>
    .table td {
        max-width: 400px; /* Adjust based on your font and desired characters per line */
        word-wrap: break-word;
    }
    .modal-content {
        width: 600px; /* Adjust to fit 40 characters per line */
        word-wrap: break-word;
    }
    .modal-message {
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 400px; /* Adjust based on your font and desired characters per line */
    }
</style>
</head>
<body>
{% block search_box %}{% endblock %}
{% block content %}
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
<script>
    function displayFormModal() {
        var modal = document.getElementById('formModal');
        var span = document.getElementsByClassName('close')[1]; // The second close button

        modal.style.display = 'block';

        span.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    }

    function displayMessage(message) {
        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName('close')[0];
        document.getElementById('modal-message').textContent = message;

        modal.style.display = 'block';

        span.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    }
</script>
<button class="button" onclick="displayFormModal()">Send message to another user</button>
<a href="{% url 'sports24h:sent_messages_html' %}" class="button">Sent Messages</a>

<h1>Received Messages:</h1>
{% if messages %}
  <table class="table">
    <tr>
      <th>Sender</th>
      <th>Message</th>
      <th>Date</th>
    </tr>
    {% for message in messages.object_list %}
    <tr>
        <td>{{ message.sender.username }}</td>
        {% if message.content|length > 30 %}
            <td class="cursor-pointer" onclick='displayMessage("{{ message.content }}")'>{{ message.content|truncatechars:30 }}</td>
        {% else %}
            <td>{{ message.content }}</td>
        {% endif %}
        <td>{{ message.sent_at }}</td>
    </tr>
    {% endfor %}
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if messages.has_previous %}
            <a href="?page={{ messages.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current">
            Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
        </span>
        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}">Next</a>
        {% endif %}
    </span>
  </div>
{% else %}
  <p>No messages to display.</p>
{% endif %}

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message" class="modal-message"></p>
    </div>
</div>

<div id="formModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="modal_send_message" action="{% url 'sports24h:send_message_submit' %}" method="post">
            {% csrf_token %}
            <h1 class="form-title">Send message to another user:</h1>
            <label class="form-label">Recipient:</label>
            <input type="text" name="recipient" class="form-input" value="">
            <label class="form-label">Message:</label>
            <textarea name="message" class="form-textarea" rows="4" cols="50"></textarea>
            <input type="submit" value="Send Message" class="form-submit">
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>
